In [51]:
import seaborn as sns
import pandas as pd
from tensorflow.keras.p import Tokenizer
from tensorflow.keras.utils import to_categorical
penguins = sns.load_dataset('penguins')

In [14]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [15]:
penguins_data = penguins.iloc[:,1:]

In [16]:
penguins_data

,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Torgersen,36.7,19.3,193.0,3450.0,Female
...,...,...,...,...,...,...
339,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Biscoe,46.8,14.3,215.0,4850.0,Female
341,Biscoe,50.4,15.7,222.0,5750.0,Male
342,Biscoe,45.2,14.8,212.0,5200.0,Female
343,Biscoe,49.9,16.1,213.0,5400.0,Male

In [17]:
penguins_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   island             344 non-null    object
 1   bill_length_mm     342 non-null    float64
 2   bill_depth_mm      342 non-null    float64
 3   flipper_length_mm  342 non-null    float64
 4   body_mass_g        342 non-null    float64
 5   sex                333 non-null    object
dtypes: float64(4), object(2)
memory usage: 16.2+ KB

In [18]:
del penguins_data['sex']

In [22]:
penguins_data = penguins_data.drop([3, 339])

In [50]:
penguins_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              342 non-null    int64
 1   island             342 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 16.2+ KB

In [25]:
penguins_data = penguins_data.reset_index()

In [26]:
penguins_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342 entries, 0 to 341
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              342 non-null    int64
 1   island             342 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 16.2+ KB

In [27]:
type(penguins_data)

pandas.core.frame.DataFrame

In [47]:
island = penguins_data['island'].str.lower()

tokenizer = Tokenizer()
tokenizer.fit_on_texts([island])

AttributeError: 'Series' object has no attribute 'lower'

AttributeError: 'Series' object has no attribute 'lower'

In [28]:
# 라이브러리 불러오기
from sklearn.cluster import KMeans

# KMeans객체 생성(클러스터 수 3)
km = KMeans(n_clusters=3, random_state=42)

# 학습하기
km.fit(penguins_data)

ValueError: could not convert string to float: 'Torgersen'